{% extends 'base.html' %}

{% block title %}UPDATE{% endblock title %}

{% block body %}
<div class="container">
{% comment %} https://www.geeksforgeeks.org/reading-selected-webpage-content-using-python-web-scraping/ {% endcomment %}
<h1>NEW UPDATE</h1>
<strong>HTTPD : </strong>{{result_httpd}} </br>
<strong>OpenSSL : </strong>{{result_openssl}} </br>
<strong>PHP : </strong>{{result_php}} </br>
<strong>Hadoop : </strong>{{result_Hadoop}} </br>
<strong>ZooKeeper : </strong>{{result_ZooKeeper}} </br>
<strong>Apache Spark : </strong>{{result_Spark}} </br>
<strong>Tomcat : </strong>{{result_tomcat}} </br>
<strong>JAVA : </strong>{{result_java}} </br>
<strong>ActiveMQ : </strong>{{result_activemq}} </br>


{% comment %} --------------------- {% endcomment %}

</br></br>

<table border="1" class="table">
    <thead class="thead-dark">
        <tr>    
            <th>id</th>
            <th>Name</th>
            <th>Beta</th>
            <th>Production</th>       
            <th>Delete</th>       
        </tr>
    <thead class="thead-dark">
    {% for x in objNewUpdateInfo %}
    <tr>    
    {% comment %} <td><a href="checkupdate/update/{{ x.id }}">{{ x.id }}</a></td> {% endcomment %}
    <td><a href="checkupdate/update/{{ x.id }}">{{ forloop.counter }}</a></td>
    <td>{{ x.name }}</td>
    <td>{{ x.beta }}</td>
    <td>{{ x.production }}</td>       
    <td><a href="delete/{{ x.id }}">delete</a></td>      
    </tr>
    {% endfor %}
</table>

</br> </br><p><a href="checkupdate/add/">Add record</a></p>


</div>
{% endblock body %}
