{% extends 'base.html' %}

{% block title %}PBX{% endblock title %}

{% block body %}

{% comment %} Hi Shubham - web services list
class ser_run defined in base template {% endcomment %}
<div class='container'>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">WEB</th>
        <th scope="col">Beta-1</th>
        <th scope="col">Beta-1</th>
        <th scope="col">Beta-1</th>
        <th scope="col">Beta-2</th>
        <th scope="col">Beta-2</th>
      </tr>
    </thead>
    <tbody>
      {% for opp in finalpass %}
      <tr>
        <th scope="row">{{opp.0.0}}</th>
          {% for i in opp %}  
              <td>
                {% if i.2 == 'Running'%}
                <div class="ser_run">{{ i.1 }} </div>

                {% else %}
                <div class="ser_nrun">{{ i.1 }} </div>
                {% endif %} 
              </td>

          {% endfor %}
        </tr>  
        {% endfor %}        
    </tbody>
  </table>
</div>


{% comment %} The page will be reloaded in 5 seconds. {% endcomment %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js">
</script>
 
<script type="text/javascript">
  $(document).ready(function () {
    setTimeout(function () {
      location.reload(true);
    }, 360000);
  });
</script>

{% endblock body %}



# backup of above fun -focus on </br> after endfor
{% comment %} <tbody>
  {% for opp in finalpass %}
  <tr>
    <th scope="row">{{opp.0.0}}</th>
      {% for i in opp %}  
          <td>
            {% if i.2 == 'Running'%}
            <div class="ser_run">{{ i.1 }} </div>

            {% else %}
            <div class="ser_nrun">{{ i.1 }} </div>
            {% endif %} 
          </td>

      {% endfor %}</br>
    </tr>  
    {% endfor %}        
</tbody> {% endcomment %}
